@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
    --color-lalaland: #ff0000;
    --color-azul-claro: #C5DFFF;
    --color-azul-escuro: #061E3C;
    --color-azul-hover: #1057B0;
    
    --font-jost: "Jost";
}